---
import BaseLayout from '../../layouts/baseLayout.astro';
import ListOfTitles from "../../components/ListOfTitles";
import * as md from '../../content/notes.md';

const title = "یادداشت‌ها",
      description = "My notes from books - یادداشت‌های من از کتاب‌های مختلف",
      tags = "یادداشت,کتاب,شعر";

var mdhtml = "", html = await md.compiledContent ?? "";
var match, regex = /<h3 id="(.*)">(.*?)<\/h3>/ig;
let titles:any[] = [];

await html().then(
	result => {
		mdhtml = result;
		let notesCount = (mdhtml.match(regex) || []).length;
		console.log("notesCount: ",notesCount);

		while (match = regex.exec(mdhtml)) {
			titles.push({
				title: match[2],
				anchorTitle: `note-${notesCount}`,
			});

			mdhtml = mdhtml.replace(match[0], `<div class="note-title" id="note-${notesCount--}">${match[2]}<a class="circled-triangle" href="#notes-desc" title="برگشت به بالای صفحه"></a></div>`);
		}
	},
	failed => console.log("Failed to load the MD file.")
)
---
<BaseLayout title={title} description={description} tags={tags}>
	<main class="notes-wrapper">
		<div id="notes-desc">کتاب‌هایی خوانده‌ام و یادداشت‌هایی از آنها نگاه داشته‌ام. جملات زیر، برخی از آن یادداشت‌هاست. مطالب جدیدتر را هربار به بالای صفحه اضافه می‌کنم.</div>
		<ListOfTitles className="short" title="فهرست یادداشت‌ها" list={titles} client:load="true" />
		<div set:html={mdhtml}></div>
	</main>
</BaseLayout>

<style>
main.notes-wrapper {
	@media screen and (max-width: 520px) {
		padding-right: 6px;
		padding-left: 6px;
    }
}

.notes-wrapper {
	direction: rtl;
	counter-reset: hrcounter 1;
	line-height: 1.7rem;
	color: var(--font-color);

	#notes-desc {
		padding-top: 30px;
		font-size: 16px;
	}

	h3 {
		display: block;
		padding-top: 3.8rem;
		padding-bottom: 12px;
		text-align: center;
	}

	.note-title {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 26px;
		padding-top: 3.8rem;
		padding-bottom: 12px;
		font-size: 18px;
		font-weight: 700;
	}

	.ref {
		text-align: center !important;
		letter-spacing: 2px;
		color: var(--ref-color);
		clear: both;
		font-size: 15px;
		line-height: 24px;
	}

	.english, .french, .other{
		direction: ltr;
	}

	.french.tr{
		color: var(--french-tr);
		float:  left;
	}

	.other.tr{
		color: var(--other-tr);
		float:  left;
	}

	.english.tr{
		color: var(--english-tr);
		float:  left;
	}

	.persian.tr{
		color: var(--persian-tr);
	}

	.two-column{ 
		margin: 0  auto;
	}

	p {
		padding: .5rem;
		font-size: 16px;
		line-height: 30px;
	}

	code {
		font-family: "sahel";
		white-space: pre;
		word-wrap: normal;
		padding: 1px 6px 1px 4px;
		color: var(--ref-color,#696969);
		background-color: rgba(27,31,35,.12);
		border-radius: 3px;
		font-size: 1rem;
		font-style: italic;
	}

	a {
		color: var(--list-color,#1c11ee);
	}

	hr {
		text-align: center;
		margin: 1.5rem 0 0;

		&:first-child {
			display: none;
		}

		&:before {
			content: counter(hrcounter);
			counter-increment: hrcounter;
			background-color: var(--background-color,#f4f4f1);
			position: absolute;
			margin-top: -11px;
			padding: 0 5px;
			font-size: 14px;
		}
	}
}
</style>
